html, body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main * {
    width: 100%;
}

main > * {
    padding: 0 20px;
}

header {
    background-color: cornflowerblue;
    color: white;
}

textarea, input {
    background-color: lavender;
    border: 0;
    /* border-bottom: 1px dotted darkslateblue; */
}

h1 {
    color: darkblue;
}

h3 {
    color: lightskyblue;
}