html, body {
    margin: 0;
}

main {
    margin: 0 auto;
}

main > * {
    display: flex;
    justify-content: center;
}

textarea, input {
    background-color: lavender;
    border: 0;
    /* border-bottom: 1px dotted darkslateblue; */
}

h1 {
    color: darkblue;
}

h3 {
    color: lightskyblue;
}